<footer class="main-footer bg-dark text-white py-5">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <h3 class="footer-brand text-uppercase mb-3">SHOP.CO</h3>
                <p class="footer-description">We have clothes that suit your style and which you're proud to wear. From women to men.</p>
                <div class="social-icons-footer mt-3">
                    <a href="#" class="social-icon-item me-2"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="social-icon-item me-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social-icon-item me-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="social-icon-item"><i class="bi bi-github"></i></a>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-3 col-6">
                <h5 class="footer-heading text-uppercase mb-3">Company</h5>
                <ul class="list-unstyled footer-links">
                    <li class="mb-2"><a href="#">About</a></li>
                    <li class="mb-2"><a href="#">Features</a></li>
                    <li class="mb-2"><a href="#">Works</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
            
            <div class="col-lg-2 col-md-3 col-6">
                <h5 class="footer-heading text-uppercase mb-3">Help</h5>
                <ul class="list-unstyled footer-links">
                    <li class="mb-2"><a href="#">Customer Support</a></li>
                    <li class="mb-2"><a href="#">Delivery Details</a></li>
                    <li class="mb-2"><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <h5 class="footer-heading text-uppercase mb-3">FAQ</h5>
                <ul class="list-unstyled footer-links">
                    <li class="mb-2"><a href="#">Account</a></li>
                    <li class="mb-2"><a href="#">Manage Deliveries</a></li>
                    <li class="mb-2"><a href="#">Orders</a></li>
                    <li><a href="#">Payments</a></li>
                </ul>
            </div>
            
            <div class="col-lg-2 col-md-3 col-6">
                <h5 class="footer-heading text-uppercase mb-3">Resources</h5>
                <ul class="list-unstyled footer-links">
                    <li class="mb-2"><a href="#">Free eBooks</a></li>
                    <li class="mb-2"><a href="#">Development Tutorial</a></li>
                    <li class="mb-2"><a href="#">How to - Blog</a></li>
                    <li><a href="#">Youtube Playlist</a></li>
                </ul>
            </div>
        </div>
        
        <hr class="my-4 footer-divider">
        
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                <p class="footer-copyright mb-0">&copy; {{currentYear}} SHOP.CO. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <img src="/img/icon-pay-05.png" alt="Payment methods" class="img-fluid payment-icons" style="max-height: 28px;">
            </div>
        </div>
    </div>
</footer>